body {
    background: #FFF;
    color: #111;
    text-align: center;
    margin: 0;
    padding: 0;
}

div, h1, h2, p{
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
    }

h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
}


h2 {
    color: #666;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}

h2:before {
    content: '— ';
}

h2:after {
    content: ' —';
}

#poeme {
    font-family: 'Old Standard TT', serif;
    font-size: 15px;
    line-height: 17px;
    margin: auto;
    text-align: left;
    width: 380px;
}

#poeme img {
    width: 100%;
    height: 100%;
}

.strophe {
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

#poeme p:first-letter {
    font-size: 20px;
    line-height: 1;
    color: #345;
}
